<%- include('content/header')%>
<%- include('content/nav')%>
<main class="col-12">
	<div class="col-11">
		<div class="info">
		<div align="right">
			<div class="title_conteudo">
				Capture emails
			</div>
			<div class="mensagem" align="justify">
				Na capture emails você consegue amazenar emails para fazer marketing de forma prática e melhor ainda!
				<b>É TUDO GRATUITO</b><br>
				Venha criar suas página de captura agora mesmo!
				<hr> 
			<a href="/add/user" class="btn btn-success col-12"> 
					Cadastrar-se gratuitamente
			</a>
			</div>			
		</div>

			<img class="midia_right" src="/images/img_1.jpg">
			
		</div>
		<hr>
	</div>
</main>
<%- include('content/footer')%>